@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(/assets/images/HeaderImage/lampos-aritonang-24gr_9lcdes-unsplash1.png);
    /* background-size: cover; */
    width: 100%;
    height: 667px;
    display: flex;
    flex-direction: column;

}

#logo{
    display: flex;
    margin-top: 51px;
    margin-left: 69px;
    width: 260px;
}

#textHeader{
    color:#FFD15B ;
    font-size: 1.5em;
    font-family: Anton;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 150px ;

}

#inputContainer{
    display: flex;
    padding-top: 30px ;
    justify-content: center;

}

#inputContainer input{
    display: block;
    height: 52px;
    width: 900px;
}


